* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #171100;
  --secondary-color: #5f5b53;
}

/* base css */

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.row {
  display: flex;
}

.btn {
  min-width: 180px;
  height: 64px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
}

/* Header */

header.header {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  background: #fffcf4;
}

.header .row {
  padding: 8px 0;
  justify-content: space-between;
}

.logo {
  font-family: "Sen", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
  color: var(--primary-color);
}

.header .actions {
  display: flex;
  align-items: center;
}

.header .menu {
  display: flex;
  gap: 42px;
}

.header .menu-item {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: var(--secondary-color);
}

.header .menu-item.active {
  position: relative;
  font-weight: 600;
  color: var(--primary-color);
}

.header .menu-item.active::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: var(--primary-color);
}

.header .btn {
  width: 144px;
  height: 50px;
  margin-left: 70px;
  border-radius: 24.5px;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
}

.hero {
  padding-top: 90px;
  background: #fffcf4;
}

.hero .block-img {
  position: relative;
  display: inline-block;
  margin-right: auto;
  width: 470px;
  height: 685px;
}

.hero .course-list {
  position: absolute;
  left: 300px;
  bottom: 48px;
  padding: 24px 36px;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: 270px;
}

.hero .course-detail {
  display: flex;
  align-items: center;
}

.hero .course-detail .desc {
  font-size: 1.4rem;
  margin-top: 0;
  line-height: 26px;
}

.carousel-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}

.hero .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 18px;
  background-color: #fff9e8;
  text-align: center;
  margin-right: 16px;
}

.hero .icon img {
  width: 100%;
  height: 100%;
}

.hero .info {
  flex: 1;
  padding: 64px 0 63px 230px;
}

.hero .title {
  font-family: Sen;
  font-size: 58px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.04em;
}

.hero .desc {
  color: var(--secondary-color);
  margin-top: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.hero .actions {
  margin: 38px 28px 48px 0;
}

.hero .btn {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background-color: #ffb900;
}

.hero .watch-btn {
  display: flex;
  align-items: center;
}

.hero .watch-btn img {
  width: 40px;
  height: 40px;
}

.hero .watch-btn .label {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  margin-left: 14px;
}

.hero .recent-engagement .desc {
  margin: 0;
  margin-bottom: 8px;
}

.hero .recent-detail {
  margin-right: 28px;
  margin-bottom: 14px;
}

.hero .recent-detail label {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.popular {
  padding: 200px 0;
}

.popular .header {
  display: flex;
  align-items: center;
}

.popular .title {
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}

.popular .desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--secondary-color);
}

.popular .row {
  justify-content: space-between;
}

.popular .right {
  display: flex;
  align-items: center;
  width: 98px;
}

/* carousel */

.carousel-control-pre,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  font-size: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.carousel-control-pre {
  color: #ffb900;
  background: #fff;
}

.carousel-control-next {
  background: #fff;
  color: #ffb900;
  margin-left: auto;
}

.carousel-container {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.carousel-item {
  width: 100%;
  border-radius: 12px;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 18px 36px 0px #0000000d;
  cursor: pointer;
}

.carousel-item img {
  width: 100%;
  object-fit: contain;
}

.carousel .info {
  padding: 16px 22px 22px 22px;
}
.popular .header {
  margin-top: 0;
}

.popular .footer {
  align-items: center;
}

.popular .header,
.popular .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .rate img {
  height: 18px;
  height: 18px;
  margin-right: 6px;
}

.popular .course-name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}

.popular .desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 22px;
}

.popular .price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}

.btn {
  width: 118px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 26px;
  transition: all ease-in 0.15s;
}

.btn:hover {
  background-color: #ffb900;
}

.testimonial {
  background-color: #2e2100;
  color: #fff;
  padding: 96px 0;
}

.testimonial .left {
  flex: 1;
}

.testimonial .right {
  width: 740px;
}

.testimonial .avatar {
  width: 72px;
  height: 72px;
  object-fit: contain;
  border-radius: 50%;
}

.testimonial .person-name {
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
  margin: 18px 0 4px 0;
}

.testimonial .desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  color: #bfbcb2;
}

.testimonial-content {
  position: relative;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
}

.testimonial-content::before {
  position: absolute;
  content: "\0022";
  color: white;
  top: 30px;
  left: -40px;
  font-size: 120px;
}

/* feature */

.feature-item {
  display: flex;
  justify-content: space-between;
  padding: 200px 0;
  gap: 130px;
}

.feature-item:last-child {
  flex-direction: row-reverse;
  padding-top: 0;
}

.feature-item .block-img {
  width: calc(1170px - 130px - 470px);
}

.feature .info {
  width: 470px;
}

.feature-item:last-child .info {
  width: calc(1170px - 130px - 470px);
}

.feature-item:last-child .block-img {
  width: 470px;
}

.feature-item .block-img {
  display: flex;
  gap: 30px;
}

.feature-item img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
  margin-top: 34px;
}

.feature-item:last-child img {
  width: 100%;
}

.feature-item img:last-child {
  margin-top: 0;
}

.feature-item .heading {
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.2rem;
  text-align: left;
}

.feature-item:last-child .heading {
  margin-top: 71px;
}

.features .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 16px;
}

.features .btn {
  margin-top: 32px;
  background-color: #ffb900;
}

.blog {
  padding: 94px 0 140px 0;
  background: #fffcf4;
  text-align: center;
}

.blog .carousel {
  text-align: left;
}

.blog .desc {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.blog .carousel-title {
  font-size: 1.6rem;
}

.blog .btn {
  margin-top: 12px;
}
.separate {
  width: 50%;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin: 12px 0;
}

.blog .title {
  color: var(--primary-color);
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}

.blog .desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 448px;
  margin: auto;
}

/* footer */

footer.footer {
  color: #fff;
  background: #2e2100;
  padding-top: 96px;
}

.footer .row {
  justify-content: space-between;
}

.footer .col {
  width: 21.6%;
}

.footer .col:first-child {
  width: 35%;
}

.footer .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  max-width: 267px;
  margin: 18px 0;
}

.footer .title {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.footer .title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -14px;
  width: 130px;
  height: 1px;
  flex-shrink: 0;
  background: #59554b;
}

.footer ul {
  margin-top: 43px;
  color: #bfbcb2;
}

.footer ul li {
  margin-bottom: 12px;
}

.footer ul span {
  color: #fff;
}
